* {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Open Sans', sans-serif;
}
header {
    text-align: center;
    margin-top: 20px;
}
header p {
    text-align: center;
    font-style: italic;
    font-size: 13;
    padding-top: 1vh;
}
header h1 {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}
main {
    clear: both;
    display: block;
    padding: 10px 60px;
}
article {
    width: 100%;
    float: left;
    padding: 10px;
}
article p {
    padding-top: 1vh;
    text-align: justify;
    color: grey;
}
section {
    display: block;
    clear: both;
}
section h2, article h1, h2 {
    font-style: italic;
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 2vh;
}
figure {
    float: left;
}
figure img {
    width: 400px;
    height: 250px;
    margin: 20px 20px 0 0;
}
figcaption {
    font-style: italic;
    font-size: 13px;
    color: grey;
}
aside {
    background-color: whitesmoke;
    display: inline-block;
    margin-left: 10px;
    width: 100%;
    text-align: center;
}
aside p {
    text-align: center;
    font-size: 12px;
    color: grey;
    line-height: 4vh;
}
aside img {
    margin-top: 15px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
}
aside .dashboard {
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    background-color: cornflowerblue;
}
footer {
    display: inline-block;
    position: relative;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: lightslategray;
}
footer p {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    color: #fff;
}

.container {
    padding: 20px;
    margin: auto;
}
.card {
    display : block;
    width: 100%;
    margin-top: 10px;
}
.card img {
    display: block;
    width: 100%;
    height: 100%;
}
.card .one, .two, .three {
    background-color: #cfc2c2;
    border-radius: 10px;
    margin: 10px;
    margin-left: 0;
    width: 100%;
}
.card-title {
    text-align: center;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    background-color: cornflowerblue;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.card-body {
    margin-bottom: 10px;
}
.card-body a, .card-body p {
    text-align: justify;
    text-decoration: none;
    font-style: italic;
    color: #000;
    padding: 10px;
}
.card-body a {
    color: #295ab6;
}
.card-form {
    margin-top: 20px;
    width: 100%;
    background-color: cornflowerblue;
}
.card-form p {
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}
.card-form-head {
    padding: 20px;
    color: white;
    background-color: #295ab6;
}
.card-form-head h3 {
    margin-left: 10px;
}
.card-form-list {
    background-color: #008bd1;
    margin: 10px;
    padding: 10px;
}
.card-form-list a {
    color: #fff;
    font-weight: 500;
    transition: 0.4s;
}
.card-form-list a:hover {
    color: chartreuse;
}

#main-nav {
    margin: 20px;
    padding: 10px;
    padding-top: 8px;
    border-width: 1px 0;
    border-color: lightgrey;
    border-style: solid;
}
#main-nav a {
    text-decoration: none;
    padding: 0 15px;
    text-transform: uppercase;
    color: black;
    font-size: 12px;
    font-weight: bold;
    transition: 0.5s;
}
#main-nav a:hover {
   padding: 12px;
   background-color: lightslategrey;
   color: #fff;
   transition: 0.2s;
}
#author-name {
     font-size: 13px;
     font-weight: bold;
}
.author-branch {
    background-color: #cfc2c2;
}
.author-branch h4 {
    font-weight: 500;
    font-size: 13px;
    color: #fff;
    background-color: teal;
    padding: 10px;
}
.author-branch p {
    padding: 10px;
    line-height: 20px;
    text-align: center;
    color: #252222;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
}

/* Desktop version */
@media (min-width: 992px) {
    .card {
        display: inline-flex;
    }
    aside {
        float: right;
        width: 20%;
        padding: 20px;
    }
    article {
        width: 70%;
    }
}