* {
    margin: 0;
    overflow: hidden;
    color: #fff;
}

hr {
    margin-left: 3%;
    border-color: #fff;
    margin-right: 3%;
}

ul {
    margin-top: 30px;
}

.header, .content, .card-one, .card-two, footer {
    border: 4px solid #fff;
}

.header {
    height: 200px;
    background-color: #808080;
}
.header h1 {
    text-align: center;
    font-size: 80pt;
    margin-top: 25px;
    font-family: 'Century Gothic';
}

.content {
    display: flex;
    height: 500px;
}

.content .card-one {
    flex: 300px;
    font-family: 'Myriad Pro';
    font-weight: bold;
    text-align: center;
    background-color: #cccccc;

}
.content .card-one img {
    position : relative;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 220px;
    height: 220px;
}
@media only screen and (max-width: 1000px) {
    .content .card-one img {
        width: 180px;
        height: 180px;
    }
}

.content .card-two {
    font-family: 'Myriad Pro';
    width : fit-content;
    width: 100%;
    background-color: #cccccc;
}
.content .card-two h2 {
    font-size: 30pt;
    font-style: italic;
    margin: 2%;
    margin-left: 3%;
}
.content .card-two li {
    line-height: 40px;
}

.content .card-two .from p {
    font-weight: bold;
    float: right;
    padding: 1%;
    margin-top: 9%;
    margin-right: 3%;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #808080;
    padding: 1.5%;
}

footer p {
    text-align: center;
    font-weight: bold;
    font-style: italic;
}