body {
    margin: 0;
}

header {
    width: 100%;
}

nav {
    height: 8vh;
    width: 100%;
    background-color: #4d4d4d;
    position: relative;
}
nav > .nav-header {
    display: inline;
}
nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    padding: 2.2vh 0vh 0vh 4vh;
}
nav > .nav-header > .nav-title > a {
    text-decoration: none;
    color: #fff;
}
nav > .nav-btn {
    display: none;
}
nav > .nav-links {
    display: inline-flex;
    margin-right: 10%;
    float: right;
    font-size: 18px;
    cursor: pointer;
}
nav > .nav-links > a {
    display: inline-block;
    padding: 10.3% 9%;
    text-decoration: none;
    color: #efefef;
    transition: 0.66s;
}
nav > .nav-links > a:hover {
    background-color: dodgerblue;
    transition: 0.9s;
}
nav > #nav-check {
    display: none;
}
@media (max-width:600px) {
    nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    nav > .nav-btn > label {
        display: inline-block;
        font-size: 20pt;
        color: #fff;
        padding: 12px;
    }
    nav > .nav-btn > label:hover, nav  #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(0, 0, 0, 0.3);
    }
    nav > .nav-btn > label > i {
        display: block;
        width: 25px;
    }
    nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        overflow-y: hidden;
        transition: all 0.3s ease-in;
        left: 0px;
        top: 50px;
     }
    nav > .nav-links > a {
        width: 100%;
        display: block;
        padding: 5% 9%;
    }
    nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }
    nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
    .sidebar > .side-content > img {
        margin: auto;
        width: 75%;
    }
}

main {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'menu main main main right right'
      'menu footer footer footer footer footer';
    column-gap: 10px;
    background-color: #867878;
    padding: 10px;
}
.event-content {
    grid-area: main;
    block-size: fit-content;
    width: 102%;
}
.event-content img {
    width: 100%;
    background-color: coral;
}
.event-content .main-event {
    padding: 1rem;
    background-color: yellow;
}
.event-content .main-event p {
   font-family: 'Cambria';
   font-size: 12pt;
   line-height: 3vh;
}

.sidebar {
    grid-area: menu;
    background-color: #fff;
}
.side-content {
    height: 82.5vh;
 }
.side-content hr {
    border: 5px solid #2196F3;
    margin: 0;
}
.side-content img {
    position: static;
    width: 15rem;
    padding: 1rem;
    border-radius: 50%;
}
.side-content p {
    padding: 1vh;
}
.side-content section {
    background-color: #4d4d4d;
    padding: 1rem;
    color: #fff;
    text-align: center;
}
.side-content .bottom-page {
   padding: 1rem;
   padding-left: 2rem;
}
.side-content .bottom-page p {
    font-family: 'Cambria';
}
.side-content .title-univ p {
    background-color: cornflowerblue;
    font-weight: bold;
    font-family: 'Cambria';
    padding: 1rem;
    color: #fff;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    text-align: center;
    background-color: #3b3a3a;
}

footer i {
    font-family: 'Georgia';
    color: #fff;
}